{% extends 'base.html' %}
{% from 'addWishlist.html' import wishlist %}
{% from 'cartButton.html' import cartbutton %}
{% from 'svgs.html' import checkSvg, xSvg %}
{% block content %}
    <div class="flex-wrapper">
        <div class="column">
            <img class="cover-display" src="{{book.image}}" alt="{{book.title}} book cover">
            <h2 class="section-title">Product Details</h2>
            <div class="grid-container">
                <span class="info">Price</span> <span class="value price">{{book.price}}</span>
                <span class="info">Publish Date</span> <span class="value">{{book.published}}</span>
                <span class="info">Pages</span> <span class="value">{{book.pages}}</span>
                <span class="info">Language</span> <span class="value">{{book.lang}}</span>
            </div>
        </div>
        <div class="column">
            <h1 class="book-title">{% block title %}{{book.title}}{% endblock %}</h1>
            {% if g.user.permissions in g.permissions[g.actions.update_book] %}
                <a href="{{ url_for('book.update', id=book.id) }}" class="update-link">Update Book</a>
            {% endif %}
            <h2 class="author">{{book.author}}</h2>
            <span class="price">{{book.price}}</span>
            {% if book.stock %}
                <div class="available">
                    {{ checkSvg() }}
                    Available
                </div>
            {% else %}
                <div class="unavailable">{{ xSvg() }} Out of Stock</div>
            {% endif %}
            {{ cartbutton(book.id, book.stock, book.id in g.cart) }}
            {{ wishlist(g.user.id, lists, book.id) }}
            <h2 class="section-title">Description</h2>
            <p class="description">{{book.info}}</p>
            <script src="//lithub.com/b/v1/bookmarks.js?ver=1.3"></script>
            <div 
                class="bm-reviews" 
                data-isbn="{{ book.isbn }}"
                data-width="auto"
                data-link="true"                
            </div>
            
        </div>
    </div>
{% endblock %}    