{%- macro wishlist(user_id, lists, book_id) %}
{% from 'svgs.html' import downarrowSvg, bookmarkSvg %}
{% if g.user %}
<span class="wishlist-positioning">
    <div data-expanded="false" class="wishlist" >
        <div data-wishlist-button>
            {{ bookmarkSvg() }}
            <span class="button-text">Add to Wishlist</span>
            {{ downarrowSvg() }}
        </div>
        <div data-wishlist-dropdown class="wishlist-form">
            <input type="text" class="list-search" placeholder="Search for list">
            {% for wishlist in lists %}
                <div data-hidden="false" class="list-name-container">
                    <input name="book-id" type="hidden" value="{{book_id}}">
                    <span class="list-name">{{wishlist.name}}</span>
                    <input name="list-id" type="hidden" value="{{wishlist.id}}">
                </div>
            {% endfor %}
            <div data-expand-new-list="false" class="new-list">
                + New Wishlist
            </div>
            <div class="new-list-form" data-new-list>
                <form class="create-list-form" action="#">
                    <input name='name' class="new-list-input" type="text" placeholder="Enter list name">
                    <input name="book-id" type="hidden" value="{{book_id}}">
                    <button class="login new-list-button">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</span>
{% else %}
<a href="{{ url_for('auth.login') }}" class="cart cart-link">Add to Wishlist {{ bookmarkSvg() }}</a>
{% endif %}
{%- endmacro %}
