<!doctype html>
<html lang="en">
{% from 'svgs.html' import  bookSvg, cartSvg, userSvg, searchSvg, menuSvg %}
{% from 'slideMenu.html' import slidemenu %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - TLC</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for('static', filename='js/checkout.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/status.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/scrollButtons.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/wishlist.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/cart.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/updateCost.js') }}" defer></script>
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='svgs/book-solid.svg') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Waterfall&display=swap" rel="stylesheet">
</head>
<body data-prevent-scroll="false">
    <div class="page-container">
        <nav class="navbar">
            <a href="{{ url_for('home') }}" class="link">
                <div class="logo-title">
                    {{bookSvg("nav-svg", "nav-logo")}}
                    <span class="nav-title">The Last Chapter</span>
                </div>
            </a>
            <div class="responsive-flex">
                <input type="text" id="search" class="nav-search" placeholder="Search by Title, Author, or ISBN">
                {{ menuSvg("nav-svg open-slide-menu") }}
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <div class="dropdown" data-dropdown>
                        <span class="link" data-dropdown-button>Genres</span>
                        <div class="dropdown-menu genres-dropdown-menu">
                            <ul class="genres-list">
                                {% for genre in g.genres %}
                                    <li class="genre"><a href="{{ url_for('category.display', genre_id=genre.id) }}">{{ genre.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="link" href="{{ url_for('cart.display') }}">
                        {{ cartSvg("nav-svg nav-cart") }}
                    </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown" data-dropdown>
                        <img class="nav-svg nav-account link" data-dropdown-button src="{{ url_for('static', filename='svgs/user-circle-solid.svg') }}">
                        <div class="dropdown-menu">
                            {% if g.user %}
                                {% if g.user.permissions in g.permissions[g.actions.alter_user_permissions] %}
                                    <a href="{{ url_for('auth.update_permissions') }}" class="dropdown-link new-book">Permissions</a>
                                {% endif %}
                                {% if g.user.permissions in g.permissions[g.actions.create_book] %}
                            <a href="{{ url_for('book.create') }}" class="dropdown-link new-book">New Book</a>
                                {% endif %}
                                <a href="{{ url_for('account.display') }}" class="dropdown-link">Account</a>
                                <a href="{{ url_for('auth.logout') }}" class="dropdown-link">Log Out</a>
                            {% else %}
                            <form class="dropdown-form" method="POST" action="{{ url_for('auth.login') }}">
                                <label for="dropdown-email">Email:</label>
                                <input name="email" type="email" id="dropdown-email" class="text-input">
                                <label for="dropdown-password">Password:</label>
                                <input name="password" type="password" id="dropdown-password" class="text-input">
                                <button type="submit" class="login">Log In</button>
                            </form>
                            <a href="{{ url_for('auth.register') }}" class="dropdown-link"> Register New Account</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    
        <section class="content">
            {{ slidemenu(g.genres) }}
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
        <footer class="footer">
            <div class="footer-text">Design heavily inspired by <a href="https://bookshop.org/">Bookshop</a></div>
            <div class="footer-text">All SVG elements are from <a href="https://fontawesome.com/license">Font Awesome</a></div>
        </footer>
    </div>
</body>
</html>
