{% extends 'base.html' %}
{% from 'bookList.html' import booklist %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="banner"><img class="banner-image" src="{{ url_for('static', filename='janko-ferlic-sfL_QOnmy00-unsplash.jpg') }}"></div>
{% if g.user.permissions in g.permissions[g.actions.update_home_list] %}
    <div class="update-container">
        <a class="update-button" href="{{ url_for('list.update_display') }}">Update Displayed Lists</a>
    </div>
{% endif %}
{% for entry in lists %}
    {% set name, list_id, books, owner_id = entry %}
    {{ booklist(name, list_id, books)}}
{% endfor %}

{% endblock %}