{% from 'svgs.html' import xSvg, cartSvg, userSvg %}

{% macro slidemenu(genres) -%}
    {% if g.user %}
        <a href="{{ url_for('cart.display') }}" class="slide-menu-top">{{ cartSvg('nav-svg') }} Cart</a>
    {% else %}
        <a href="{{ url_for('auth.login') }}" class="slide-menu-top">{{ userSvg('nav-svg') }} Log In</a>
    {% endif %}
    <div class="close-slide-menu">{{ xSvg('nav-svg') }}</div>
    <div class="slide-menu">
        {% if g.user %}
            <a class="slide-menu-item" href="{{ url_for('account.display') }}">{{ userSvg('nav-svg') }} Account</a>
        {% endif %}
        {% if g.user.permissions in g.permissions[g.actions.create_book] %}
            <a class="slide-menu-item" href="{{ url_for('book.create') }}">New Book</a>
        {% endif %}
        {% if g.user.permissions in g.permissions[g.actions.alter_user_permissions] %}
        <a class="slide-menu-item" href="{{ url_for('auth.update_permissions') }}">Alter Permissions</a>
        {% endif %}
        {% for genre in genres %}
            <a class="slide-menu-item" href="{{ url_for('category.display', genre_id=genre.id) }}">{{ genre.name }}</a>
        {% endfor %}
    </div>
{%- endmacro %}