:root {
	--primary-color: hsl(214, 79%, 39%);
	--primary-light: hsl(214, 81%, 80%);
	--secondary-color: hsl(263, 43%, 63%);
	--secondary-dark: hsl(262, 40%, 34%);
	--danger-color: hsl(0, 55%, 44%);
	--danger-light: hsl(0, 69%, 64%);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'EB Garamond', serif;
}

.page-container {
	min-height: 100vh;
	padding-bottom: 4rem;
	position: relative;
	box-sizing: border-box;
}

.content {
	padding-top: 3.5rem;
}

.flash {
	background-color: var(--secondary-color);
	color: white;
	font-size: 1.1rem;
	width: 95%;
	margin: 4.5rem auto 1.5rem auto;
	text-align: center;
	padding: 1rem;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 3.5rem;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--primary-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

.nav-title {
	font-family: 'Waterfall', cursive;
	font-size: 2.5rem;
	color: white;
}

.nav-svg {
	height: 1.5rem;
}

#nav-logo {
	margin: 0 6px 0 6px;
}

.nav-search {
	border-radius: 1rem;
	border: none;
	margin-left: 2rem;
	padding: .5rem;
	width: 18rem;
	padding-left: 1rem;
}

.nav-list {
	margin: 0;
	padding: 0;
	gap: 10px;
	height: 100%;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: right;
}

.nav-item {
	display: inline-block;
	list-style-type: none;
	margin: 3px;
}

.link {
	background: none;
	border: none;
	text-decoration: none;
	color: white;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 0;
}

.dropdown {
	position: relative;
}

.dropdown-form > label {
	display: block;
}

.dropdown > span.link {
	font-size: 1.2rem;
}

.dropdown-menu {
	position: absolute;
	top: calc(100% + .4rem);
	right: -.2rem;
	color: black;
	background-color: white;
	padding: 7px;
	border: 1px solid black;
	box-shadow: 4px 5px 11px hsl(0, 0%, 20%);
	border-radius: .25rem;
	opacity: 0;
	transform: translateY(-15px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
	pointer-events: none;
}

.dropdown-link.new-book {
	width: 5.1rem;
}

.nav-list > li:last-of-type {
	margin-right: 1rem;
}

.dropdown.active > .link + .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.flex-wrapper > .column {
	padding: 2rem;
	display: inline-block;
}

.genre {
	list-style-type: none;
}

.genre > a {
	color: hsl(0, 0%, 53%);
	text-decoration: none;
}

.genre > a:visited {
	color: hsl(0, 0%, 53%);
}

.genre > a:hover {
	color: black;
}

.genres-list {
	display: flex;
	gap: 4rem;
}

.genres-dropdown-menu {
	width: 36.2rem;
	right: -5.5rem;
	padding: .5rem 0 .5rem 0;
}

.dropdown-form {
	background-color: hsl(0, 1.6%, 88%);
	border-radius: .25rem;
	padding: 5px;
	margin: 1px 1px 5px 1px;
}

.text-input {
	margin-bottom: 3px;
	border-radius: .5rem;
	border: none;
	line-height: 1.3rem;
	display: block;
	border: 1px solid var(--primary-color);
}

.login {
	position: relative;
	margin: 4px;
	display: block;
	color: white;
	background-color: var(--secondary-color);
	border: none;
	border-radius: 1rem;
	padding: .2rem .5rem;
	cursor: pointer;
}

.login:hover {
	background-color: var(--secondary-dark);
}

.dropdown-link {
	text-decoration: none;
	color: #777;
	display: block;
}

.dropdown-link:hover {
	color: black;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	background-color: var(--primary-color);
	color: white;
	padding: 1.5rem 0rem;
	margin: 0;
	display: flex;
	justify-content: space-evenly;
}

.footer-text {
	padding: 0 .5rem;
}

.footer-text > a {
	text-decoration: none;
	color: var(--secondary-color);
}

.footer-text > a:hover {
	color: var(--primary-light);
}

.banner {
	overflow: hidden;
}

.banner-image {
	max-width: 100%;
}

.container {
	position: relative;
}

.container-title {
	margin-left: 1.5rem;
	margin-bottom: 0;
	margin: 0 1.5rem;
	display: inline-block;
}

.books-list {
	width: 92%;
	margin: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	height: 19rem;
	display: flex;
	align-items: center;
}

.books-list-link {
	text-decoration: none;
	color: black;
	background-color: var(--primary-light);
	border-radius: .5rem;
	padding: .2rem .5rem;
}

.books-list-link:hover {
	color: white;
	background-color: var(--primary-color);
}

.scroll {
	z-index: 1;
	position: absolute;
	top: 52%;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--primary-color);
	color: white;
	transition: background-color .8s cubic-bezier(0.075, 0.82, 0.165, 1),
		transform .8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scroll:hover {
	transform: scale(1.1);
	background-color: var(--primary-light);
}

.left-scroll {
	left: 2.5%;
}

.right-scroll {
	right: 2.5%;
}

.book-card {
	display: inline-block;
	height: 15rem;
	margin: 0 5px 0 5px;
}

.book-card > a > img.book-image {
	max-height: 100%;
}

.book-link {
	display: inline-block;
	height: 15rem;
	text-decoration: none;
	transition: box-shadow 1.2s cubic-bezier(0.075, 0.82, 0.165, 1), transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.book-link:hover {
	box-shadow: 0 10px 10px var(--primary-light);
	transform: scale(1.1);
}

.book-link:first-child {
	margin-left: .5rem;
}

.form-title {
	font-size: 2rem;
	margin: 5rem auto 2rem auto;
	width: 22rem;
	text-align: center;
}

.form-container {
	width: 80%;
	max-width: 25rem;
	min-width: 5rem;
	background-color: hsl(0, 0%, 94%);
	margin: .5rem auto;
	padding: 2rem 0 2rem 2.5rem;
	border: double var(--primary-color);
}

.form-label {
	display: block;
}

.main-form > .form-label {
	font-size: 1.2rem;
}

.main-form > .text-input {
	line-height: 1.6rem;
	width: 80%;
	margin-bottom: .5rem;
}

textarea.text-input {
	resize: vertical;
}

.main-form > .login {
	font-size: 1rem;
	padding: .2rem .5rem;
	margin-top: .8rem;
}

.flex-wrapper {
	display: flex;
}

.genres-list > .column {
	padding: 0;
}

.column > .cover-display {
	width: 18rem;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: .5rem;
}

.info {
	text-align: right;
	color: hsl(0, 0%, 67%);
	text-shadow: hsl(214, 81%, 80%);
}

.value {
	color: black;
}

.book-title {
	font-size: 2.5rem;
}

.update-link {
	text-decoration: none;
	cursor: pointer;
	padding: .3rem;
	color: white;
	border-radius: .5rem;
	background-color: var(--secondary-dark);
}

.update-link:hover {
	background-color: var(--secondary-color);
}

.price {
	font-size: 1.2rem;
}

.available {
	color: hsl(152, 33%, 42%);
	font-size: 1.24rem;
	margin: .3rem 0;
}

.unavailable {
	color: hsl(0, 47%, 51%);
	font-size: 1.24rem;
	margin: .3rem 0;
}

.available > svg,
.unavailable > svg {
	height: .9rem;
}

.cart {
	background-color: var(--secondary-color);
	border: none;
	padding: .5rem 1rem;
	color: white;
	border-radius: 1rem;
	font-size: 1.2rem;
	cursor: pointer;
}

.cart:hover {
	background-color: var(--secondary-dark);
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
}

.cart:disabled {
	cursor: not-allowed;
	background-color: hsl(0, 0%, 53%);
	color: white;
}

.cart > svg,
.wishlist > div > svg {
	height: 1rem;
}

.main-title {
	font-size: 2rem;
	text-align: center;
	margin: 4rem 0 2rem 0;
}

.sub-title {
	font-size: 1.5rem;
	padding-left: 1.4rem;
}

.list-card {
	display: flex;
}

.list-image {
	width: 10rem;
	margin: 2rem 1rem 2rem 4rem;
}

.list-text-content > h4,
.list-text-content > p {
	margin: 0;
}

.list-text-content > a > h3 {
	font-size: 1.4rem;
	margin-top: 3rem;
	margin-bottom: .5rem;
}

.list-card + .list-divider {
	width: 80%;
	border-top: 1px solid hsl(0, 0%, 53%);
	border-radius: 50%;
}

.list-link {
	text-decoration: none;
	color: inherit;
}

.list-title {
	display: inline-block;
	font-size: 2rem;
	margin: 2rem;
}

.wishlist {
	font-size: 1.2rem;
	display: inline;
	position: absolute;
	border: .1rem solid var(--primary-color);
	background-color: white;
	color: var(--primary-color);
	padding: 0;
	border-radius: 1rem;
	font-size: 1.2rem;
	overflow: hidden;
	top: -.8rem;
	width: 11.5rem;
	left: .2rem;
}

.wishlist > div > svg {
	margin: 0 .6rem;
}

.wishlist[data-expanded="false"] > .wishlist-form {
	display: none;
}

.wishlist[data-expanded="true"] {
	padding: 0;
	width: 13.5rem;
}

.wishlist-positioning {
	position: relative;
}

div[data-wishlist-button] {
	padding: .5rem 0;
	cursor: pointer;
}

.list-search {
	border-radius: .2rem;
	line-height: 1.5rem;
	display: block;
	border: 1px solid var(--secondary-color);
	margin: .2rem auto;
}

.list-name-container {
	color: black;
	cursor: pointer;
}

.list-name-container:hover {
	color: var(--primary-light);
	background-color: var(--primary-color);
}

.new-list[data-expand-new-list="false"] + [data-new-list] {
	display: none;
}

.new-list[data-expand-new-list="true"] {
	display: none;
}

[data-hidden="true"] {
	display: none;
}

.list-name {
	display: block;
	width: 100%;
	padding-left: .8rem;
}

.new-list {
	padding-left: .4rem;
	padding-bottom: .2rem;
	background-color: var(--primary-light);
	cursor: pointer;
}

.new-list-input {
	border-radius: .2rem;
	line-height: 1.5rem;
	display: block;
	border: 1px solid var(--secondary-color);
	margin: .2rem auto;
}

.new-list-button {
	width: 95%;
}

.remove-divider {
	width: 12rem;
	margin-left: .2rem;
	border-radius: 50%;
}

.remove {
	margin: 1.5rem 1rem;
	padding: .5rem .8rem;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background-color: white;
	border-radius: .5rem;
}

.remove:hover {
	background-color: var(--primary-light);
}

.danger {
	background-color: var(--danger-color);
	font-size: 1.05rem;
	color: white;
	position: relative;
	top: -1.9rem;
	left: 7.9rem;
	margin: 0;
}

.danger:hover {
	background-color: var(--danger-light);
}
.popup-container {
	position: fixed;
	width: 12rem;
	height: 4.5rem;
	top: 30%;
	left: 50%;
	overflow: hidden;
	border-radius: .2rem;
	z-index: 3;
}

.popup-success {
	background: hsla(115.4, 27.1%, 81.2%, 0.9);
	border: 1px solid hsl(109.3, 84.8%, 28.4%);
	color: green;
}

.popup-error {
	background: hsla(0, 27.1%, 81.2%, 0.9);
	border: 1px solid hsl(0, 84.8%, 28.4%);
	color: #b24929;
}

.popup-close {
	position: absolute;
	right: 0;
	background-color: #f78e8e;
	color: white;
	padding: 0rem .2rem .1rem .2rem;
	border-radius: .2rem;
	margin: 0;
	line-height: 1rem;
	cursor: pointer;
	user-select: none;
}

.popup-close:hover {
	background-color: #bf4141;
}

.popup-title {
	margin: 0 .5rem;
	text-align: center;
}

.popup-body {
	text-align: center;
	margin: .2rem;
}

.remove-timer-animation {
	width: 1%;
	height: 2rem;
	background-color: var(--primary-color);
	animation: timer 2.8s linear forwards;
}

@keyframes timer {
	100% {
		width: 100%;
		background-color: var(--primary-light);
	}
}
