:root {
	--primary-color: hsl(214, 79%, 39%);
	--primary-light: hsl(214, 81%, 80%);
	--secondary-color: hsl(263, 43%, 63%);
	--secondary-dark: hsl(262, 40%, 34%);
	--danger-color: hsl(0, 55%, 44%);
	--danger-light: hsl(0, 69%, 64%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'PT Serif', serif;
}

.page-container {
	min-height: 100vh;
	padding-bottom: 4rem;
	position: relative;
	box-sizing: border-box;
}

.content {
	padding-top: 3.5rem;
	margin-bottom: 3.5rem;
}

.flash {
	background-color: var(--secondary-color);
	color: white;
	font-size: 1.1rem;
	width: 95%;
	margin: 4.5rem auto 1.5rem auto;
	text-align: center;
	padding: 1rem;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 3.5rem;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--primary-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

.nav-title {
	font-family: 'Waterfall', cursive;
	font-size: 2.5rem;
	color: white;
}

.nav-svg {
	height: 1.5rem;
}

#nav-logo {
	margin: 0 6px 0 6px;
}

.nav-search {
	border-radius: 1rem;
	border: none;
	padding: .5rem;
	padding-left: 1rem;
}

.nav-list {
	margin: 0;
	padding: 0;
	gap: 10px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
}

.nav-item {
	display: inline-block;
	list-style-type: none;
	margin: 3px;
}

.link {
	background: none;
	border: none;
	text-decoration: none;
	color: white;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 0;
}

.dropdown {
	position: relative;
}

.dropdown-form > label {
	display: block;
}

.dropdown > span.link {
	font-size: 1.2rem;
}

.dropdown-menu {
	position: absolute;
	top: calc(100% + .4rem);
	right: -.2rem;
	color: black;
	background-color: white;
	padding: 7px;
	border: 1px solid black;
	box-shadow: 4px 5px 11px hsl(0, 0%, 20%);
	border-radius: .25rem;
	opacity: 0;
	transform: translateY(-15px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
	pointer-events: none;
}

.nav-list > li:last-of-type {
	margin-right: 1rem;
}

.dropdown.active > .link + .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
	width: max-content;
}

.flex-wrapper > .column {
	padding: 2rem;
	display: inline-block;
}

.genre {
	list-style-type: none;
}

.genre > a {
	color: hsl(0, 0%, 53%);
	text-decoration: none;
	width: 100%;
	display: block;
	padding-left: .5rem;
	transition: all 50ms ease-in;
}

.genre > a:hover {
	background-color: aliceblue;
	color: black;
}

.genres-list {
	padding: 0;
	display: grid;
	grid-template-columns: max-content max-content max-content;
	column-gap: 1.5rem;
	row-gap: .25rem;
}

.genres-dropdown-menu {
	right: -5.5rem;
	padding: .5rem 1.5rem;
}

.open-slide-menu {
	display: none;
}

.close-slide-menu {
	display: none;
	position: fixed;
	height: 1.5rem;
	right: .5rem;
	top: 3.7rem;
	cursor: pointer;
	border-radius: 100%;
	color: var(--secondary-dark);
	z-index: 13;
	transform: translateX(100%);
	opacity: 0;
	transition: transform .2s ease-in, opacity .2s ease-in;
}

.close-slide-menu:hover {
	box-shadow: .3rem .3rem 2rem hsl(0, 0%, 53%);
	color: var(--secondary-color);
}

.slide-menu {
	display: none;
	position: fixed;
	box-sizing: border-box;
	background-color: hsl(214.3, 46.7%, 94.1%);
	inset: 5.9rem 0 0 0;
	z-index: 11;
	transform: translateX(100%);
	opacity: 0;
	transition: transform .2s ease-in, opacity .2s ease-in;
	font-size: 1.25rem;
	overflow-y: scroll;
}

.slide-menu-top {
	display: none;
	position: fixed;
	z-index: 12;
	background-color: var(--primary-light);
	border: .1rem solid var(--primary-color);
	left: 0;
	right: 0;
	top: 2.9rem;
	padding: .5rem 0 .5rem 2.5rem;
	font-size: 1.25rem;
	text-decoration: none;
	transform: translateX(100%);
	opacity: 0;
	transition: transform .2s ease-in, opacity .2s ease-in;
}

.slide-menu-top:hover {
	color: var(--primary-color);
}

.slide-menu[data-show-menu="true"],
.slide-menu-top[data-show-menu="true"],
.close-slide-menu[data-show-menu="true"] {
	opacity: 1;
	transform: translateX(0);
}

.slide-menu-item {
	color: black;
	transition: background-color .1s ease-in, color .1s ease-in;
	padding-left: 3rem;
	text-decoration: none;
	border-bottom: .1rem solid hsl(0, 0%, 53%);
	line-height: 2.8rem;
}

.slide-menu-item:hover {
	color: var(--secondary-dark);
	background-color: var(--primary-light);
}

@media (min-width: 725px) {
	.nav-search {
		width: 100%;
	}
	.responsive-flex {
		width: 40%;
	}
}

@media (max-width: 725px) {
	body[data-prevent-scroll="true"] {
		overflow: hidden;
	}
	.nav-list {
		display: none;
	}
	.navbar {
		flex-direction: column;
		height: fit-content;
	}
	.nav-search {
		width: 90%;
		margin-left: .5rem;
	}
	.open-slide-menu {
		display: block;
		margin-right: .7rem;
		cursor: pointer;
	}
	.slide-menu {
		display: flex;
		flex-direction: column;
	}
	.slide-menu-top {
		display: block;
	}
	.close-slide-menu {
		display: block;
	}
	.responsive-flex {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
	.nav-search {
		margin-bottom: .5rem;
		max-width: 85%;
	}
	.page-container {
		padding-bottom: 6rem;
		box-sizing: border-box;
		width: 100vw;
	}
}

.dropdown-form {
	background-color: hsl(0, 1.6%, 88%);
	border-radius: .25rem;
	padding: 5px;
	margin: 1px 1px 5px 1px;
}

.text-input {
	display: block;
	line-height: 1.3rem;
	border: 1px solid var(--primary-color);
	border-radius: .5rem;
	margin-bottom: 3px;
}

.login {
	position: relative;
	margin: 4px;
	display: block;
	color: white;
	background-color: var(--secondary-color);
	border: none;
	border-radius: 1rem;
	padding: .2rem .5rem;
	cursor: pointer;
}

.login:hover {
	background-color: var(--secondary-dark);
}

.dropdown-link {
	text-decoration: none;
	color: #777;
	display: block;
}

.dropdown-link:hover {
	color: black;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	background-color: var(--primary-color);
	color: white;
	padding: 1.5rem 0rem;
	display: flex;
	justify-content: space-evenly;
}

.footer-text {
	padding: 0 .5rem;
}

.footer-text > a {
	text-decoration: none;
	color: var(--secondary-color);
}

.footer-text > a:hover {
	color: var(--primary-light);
}

.banner {
	overflow: hidden;
	object-fit: cover;
	max-height: 96vh;
}

.banner-image {
	width: 100vmax;
}

.container {
	position: relative;
	max-width: 65rem;
	margin: 2rem auto;
	background-color: aliceblue;
	padding: 1.5rem 0;
	border: .07rem solid black;
	box-shadow: .2rem .4rem .2rem #59575796, -.1rem -.2rem .1rem hsla(214, 78.9%, 39%, 0.43);
}

.container-title {
	margin-left: 1.5rem;
	margin-bottom: 0;
	margin: 0 1.5rem;
	display: inline-block;
}

.books-list {
	width: 92%;
	margin: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	height: 19rem;
	display: flex;
	align-items: center;
}

.books-list-link {
	text-decoration: none;
	color: black;
	background-color: var(--primary-light);
	border-radius: .5rem;
	padding: .2rem .5rem;
	float: right;
	margin-right: 3rem;
}

.books-list-link:hover {
	color: white;
	background-color: var(--primary-color);
}

.scroll {
	z-index: 1;
	position: absolute;
	top: 52%;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--primary-color);
	color: white;
	transition: background-color .8s cubic-bezier(0.075, 0.82, 0.165, 1),
		transform .8s cubic-bezier(0.075, 0.82, 0.165, 1);
	cursor: pointer;
}

.scroll:hover {
	transform: scale(1.1);
	background-color: var(--primary-light);
}

.left-scroll {
	left: 2.5%;
}

.right-scroll {
	right: 2.5%;
}

.book-card {
	display: inline-block;
	height: 15rem;
	margin: 0 5px 0 5px;
}

.book-card > a > img.book-image {
	height: 100%;
}

.book-link {
	display: inline-block;
	height: 15rem;
	text-decoration: none;
	transition: box-shadow 1.2s cubic-bezier(0.075, 0.82, 0.165, 1), transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.book-link:hover {
	box-shadow: 0 10px 10px var(--primary-light);
	transform: scale(1.1);
}

.book-link:first-child {
	margin-left: .5rem;
}

@media (max-width: 1100px) {
	.container {
		margin: 2rem;
	}
}

.form-title {
	font-size: 2rem;
	margin: 2rem;
	text-align: center;
}

.form-container {
	width: 80%;
	max-width: 25rem;
	min-width: 5rem;
	background-color: hsl(0, 0%, 94%);
	margin: .5rem auto;
	padding: 2rem 0 2rem 2.5rem;
	border: double var(--primary-color);
}

.form-label {
	display: block;
}

.main-form > .form-label {
	font-size: 1.2rem;
}

.main-form > .text-input {
	line-height: 1.85rem;
	width: 80%;
	margin: .3rem 0 .6rem 0;
}

textarea.text-input {
	resize: vertical;
}

.main-form > .login {
	font-size: 1rem;
	padding: .2rem .5rem;
	margin-top: .8rem;
}

.empty {
	font-size: 1.5rem;
	margin: 2rem;
	text-align: center;
}

.section-header {
	font-size: 1.5rem;
}

.list-entry {
	margin: 1rem 0;
}

.list-display-link {
	text-decoration: none;
	color: var(--primary-color);
	margin-right: .2em;
	font-size: 1.2rem;
}

.list-display-link:hover {
	color: hsl(0, 2%, 34%);
}

.update-display-form {
	float: right;
	margin-right: 2rem;
}

.remove-button {
	cursor: pointer;
	background-color: var(--primary-light);
	border: .1rem solid var(--primary-color);
	border-radius: 4rem;
	padding: .2rem .5rem;
}

.update-divider {
	width: 90%;
	border-radius: 50%;
	margin: 2rem 0;
}

.add-button {
	color: #fff;
	background-color: var(--secondary-dark);
	border: .1rem solid var(--secondary-color);
	border-radius: 4rem;
	padding: .2rem .5rem;
	cursor: pointer;
}

.add-button:hover {
	background-color: var(--secondary-color);
}

.add-button[disabled] {
	background-color: gray;
	cursor: auto;
}

.remove-button:hover {
	background-color: var(--primary-color);
	color: var(--primary-light);
}

.flex-wrapper {
	display: flex;
}

.column > .cover-display {
	width: 18rem;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: .5rem;
}

.info {
	text-align: right;
	color: hsl(0, 0%, 67%);
	text-shadow: hsl(214, 81%, 80%);
}

.value {
	color: black;
}

.book-title {
	font-size: 2.5rem;
}

.update-link {
	text-decoration: none;
	cursor: pointer;
	padding: .3rem;
	color: white;
	border-radius: .5rem;
	background-color: var(--secondary-dark);
}

.update-link:hover {
	background-color: var(--secondary-color);
}

.price {
	font-size: 1.2rem;
	font-weight: bold;
}

.price::before {
	content: '$';
}

#total {
	font-size: 2.4rem;
}

.available {
	color: hsl(152, 33%, 42%);
	font-size: 1.24rem;
	margin: .8rem 0;
}

.unavailable {
	color: hsl(0, 47%, 51%);
	font-size: 1.24rem;
	margin: .8rem 0;
}

.available > svg,
.unavailable > svg {
	height: .9rem;
}

.cart {
	background-color: var(--secondary-color);
	border: none;
	padding: .5rem 1rem;
	margin-bottom: .4rem;
	margin-right: .5rem;
	color: white;
	border-radius: 1rem;
	font-size: 1.2rem;
	cursor: pointer;
}

.cart:hover {
	background-color: var(--secondary-dark);
	color: var(--secondary-color);
}

.cart:disabled {
	cursor: not-allowed;
	background-color: hsl(0, 0%, 53%);
	color: white;
}

.cart > svg,
.wishlist > div > svg {
	height: 1rem;
}

.cart-link {
	text-decoration: none;
	color: var(--secondary-color);
	background-color: white;
	border: .1rem solid var(--secondary-color);
	margin-bottom: .4rem;
	width: fit-content;
}

.cart-link:not([hidden]) + .remove-divider {
	margin-top: 1.5rem;
}

.cart-link:not([hidden]) {
	display: inline-block;
}

.cart-link:hover {
	background-color: var(--secondary-color);
	color: white;
}

.update-container {
	margin-bottom: 5rem;
}

.update-button {
	text-decoration: none;
	color: #fff;
	background-color: var(--secondary-color);
	border-radius: 1rem;
	padding: .3rem .7rem;
	float: right;
	margin: .5rem;
	transition: background 20ms ease-in, color 20ms ease-in;
}

.update-button:hover {
	background-color: var(--primary-light);
	color: var(--secondary-dark);
}

.main-title {
	font-size: 2rem;
	text-align: center;
	margin: 4rem 0 2rem 0;
}

.sub-title {
	font-size: 1.5rem;
	padding-left: 1.4rem;
}

.list-card {
	display: flex;
}

.list-image {
	width: 10rem;
	margin: 2rem 1rem 2rem 4rem;
}

.list-text-content > h4,
.list-text-content > p {
	margin: 0;
}

.list-text-content > a > h3 {
	font-size: 1.4rem;
	margin-top: 3rem;
	margin-bottom: .5rem;
}

.list-card + .list-divider {
	width: 80%;
	border-top: 1px solid hsl(0, 0%, 53%);
	border-radius: 50%;
}

.list-link {
	text-decoration: none;
	color: inherit;
}

.list-title {
	display: inline-block;
	font-size: 2rem;
	margin: 2rem;
}

.wishlist {
	font-size: 1.2rem;
	position: absolute;
	border: .1rem solid var(--primary-color);
	background-color: white;
	color: var(--primary-color);
	padding: 0;
	border-radius: 1rem;
	font-size: 1.2rem;
	overflow: hidden;
	width: 12.8rem;
}

.wishlist > div > svg {
	margin: 0 .6rem;
}

.wishlist[data-expanded="false"] > .wishlist-form {
	display: none;
}

.wishlist[data-expanded="true"] {
	padding: 0;
	width: 13.5rem;
}

.wishlist-positioning {
	position: relative;
	height: 2.8rem;
	display: inline-block;
	width: 12rem;
	padding-top: 1rem;
}

div[data-wishlist-button] {
	padding: .5rem 0;
	cursor: pointer;
}

.list-search {
	border-radius: .2rem;
	line-height: 1.5rem;
	display: block;
	border: 1px solid var(--secondary-color);
	margin: .2rem auto;
}

.list-name-container {
	color: black;
	cursor: pointer;
}

.list-name-container:hover {
	color: var(--primary-light);
	background-color: var(--primary-color);
}

.new-list[data-expand-new-list="false"] + [data-new-list] {
	display: none;
}

.new-list[data-expand-new-list="true"] {
	display: none;
}

[data-hidden="true"] {
	display: none;
}

.list-name {
	display: block;
	width: 100%;
	padding-left: .8rem;
}

.new-list {
	padding-left: .4rem;
	padding-bottom: .2rem;
	background-color: var(--primary-light);
	cursor: pointer;
}

.new-list-input {
	border-radius: .2rem;
	line-height: 1.5rem;
	display: block;
	border: 1px solid var(--secondary-color);
	margin: .2rem auto;
}

.new-list-button {
	width: 95%;
}

iframe {
	max-width: 100%;
}

@media (max-width: 725px) {
	.content > .flex-wrapper {
		flex-direction: column;
		text-align: center;
	}
	.cover-display {
		max-width: 80%;
	}
	.wishlist-positioning {
		display: inline-block;
		height: 4rem;
		text-align: left;
	}
	.wishlist {
		top: 2.1rem;
		left: .5rem;
	}
	.value {
		text-align: left;
	}
}

.remove-divider {
	width: 12rem;
	margin-left: .2rem;
	border-radius: 50%;
}

.content-grid-item {
	justify-self: start;
}

.remove {
	margin: 1.5rem 1rem;
	padding: .5rem .8rem;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background-color: white;
	border-radius: .5rem;
	transition: background-color .2s ease-in;
	cursor: pointer;
}

.remove:hover {
	background-color: var(--primary-light);
}

.danger {
	background-color: var(--danger-color);
	font-size: 1.05rem;
	color: white;
	position: relative;
	top: -1.9rem;
	left: 7.9rem;
	margin: 0;
}

.danger:hover {
	background-color: var(--danger-light);
}
.popup-container {
	position: fixed;
	width: 12rem;
	height: 4.5rem;
	top: 30%;
	left: 50%;
	overflow: hidden;
	border-radius: .2rem;
	z-index: 3;
}

.popup-success {
	background: hsla(115.4, 27.1%, 81.2%, 0.9);
	border: 1px solid hsl(109.3, 84.8%, 28.4%);
	color: green;
}

.popup-error {
	background: hsla(0, 27.1%, 81.2%, 0.9);
	border: 1px solid hsl(0, 84.8%, 28.4%);
	color: #b24929;
}

.popup-close {
	position: absolute;
	right: 0;
	background-color: #f78e8e;
	color: white;
	padding: 0rem .2rem .1rem .2rem;
	border-radius: .2rem;
	margin: 0;
	line-height: 1rem;
	cursor: pointer;
	user-select: none;
}

.popup-close:hover {
	background-color: #bf4141;
}

.popup-title {
	margin: 0 .5rem;
	text-align: center;
}

.popup-body {
	text-align: center;
	margin: .2rem;
}

.remove-timer-animation {
	width: 100%;
	transform: translateX(-99%);
	height: 2rem;
	background-color: var(--primary-color);
	animation: timer 2.8s linear forwards;
}

@keyframes timer {
	100% {
		transform: translateX(0%);
		background-color: var(--primary-light);
	}
}

.cart-container {
	display: grid;
	grid-template-columns: minmax(min-content, 15rem) minmax(min-content, 15rem) minmax(min-content, 15rem)
		minmax(min-content, 15rem);
	column-gap: .5rem;
	justify-items: center;
	align-items: center;
}

.cart-remove-divider {
	width: 8rem;
	margin-left: .2rem;
	border-radius: 50%;
}

.query {
	font-style: italic;
	color: hsl(0, 0%, 30%);
	font-weight: 300;
}

.total-grid-item {
	font-weight: bold;
}

.image-link {
	margin: 1rem;
	max-width: 10rem;
	min-width: 6rem;
	display: block;
}

.grid-image {
	width: 100%;
	transition: opacity 20ms ease-in;
}

.grid-image:hover {
	opacity: .75;
}

.grid-link {
	text-decoration: none;
	color: var(--primary-color);
	transition: color .1s ease-in, text-shadow .1s ease-in;
}

.grid-link:hover {
	color: var(--secondary-color);
	text-shadow: 1px 0 10px #c9c9c9;
}

.grid-link > .card-title {
	margin-top: 0.4rem;
	margin-right: .2rem;
}

.remove-cart {
	padding: .5rem .8rem;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background-color: white;
	border-radius: .5rem;
	cursor: pointer;
	transition: background .2s ease-in;
}

.remove-cart:hover {
	background-color: var(--primary-light);
}

.number-input {
	width: 2.5rem;
}

.cart-buttons {
	position: sticky;
	float: right;
	bottom: 1rem;
	right: 2rem;
	z-index: 5;
}

.final-price {
	text-align: center;
	font-size: 2.2rem;
	font-weight: bold;
	border-bottom: .1rem solid hsl(0, 0%, 53%);
	margin-bottom: .25rem;
}

.cart-checkout-button,
.cart-update-button {
	margin: .2rem;
	padding: .35rem .4rem;
	border-radius: .5rem;
	transition: transform .2s ease-in, box-shadow .2s ease-in;
	cursor: pointer;
}

.cart-update-button {
	background-color: white;
	color: var(--secondary-color);
	border: .1rem solid var(--secondary-color);
}

.cart-checkout-button {
	background-color: var(--primary-color);
	border: .1rem solid var(--secondary-dark);
	color: var(--primary-light);
}

.cart-update-button:hover,
.cart-checkout-button:hover {
	transform: scale(1.05);
	box-shadow: .1em .1em .2em hsl(0, 0%, 53%), -.1em 0 .4em hsl(214, 81%, 80%);
}

.category-display {
	display: grid;
	column-gap: .75rem;
	row-gap: .75rem;
	grid-template-columns: repeat(auto-fit, minmax(22rem, auto));
	max-width: 1200px;
	margin: auto;
	padding: .75rem;
}

.grid-card {
	display: flex;
	align-items: center;
	border: .05rem solid var(--primary-color);
	border-radius: .4rem;
	box-shadow: 0 .2rem .4rem hsl(0, 0%, 53%, 50%), -.2rem 0 .1rem hsl(214, 81%, 80%, 50%);
	max-width: 30rem;
	min-width: 21rem;
}

.pagination {
	text-align: center;
}

.page-button {
	text-decoration: none;
	color: var(--secondary-dark);
	padding: .25rem .5rem;
	margin: .1rem;
	display: inline-block;
	border: .07em solid var(--secondary-dark);
	border-radius: .25rem;
	transition: color 25ms ease-in, background 25ms ease-in;
}

.page-button:not(.selected):hover {
	color: var(--primary-light);
	background-color: var(--secondary-dark);
}

.page-button.selected {
	background-color: var(--primary-light);
	pointer-events: none;
}

.custom-select {
	position: relative;
	width: fit-content;
	margin: .3rem 0 .6rem 0;
}

.custom-select:hover::before {
	background-color: hsl(0, 0%, 37%);
}

.custom-select > select {
	padding: .4rem 2rem .4rem .4rem;
	color: #fff;
	background-color: #333;
	border: .02rem solid aliceblue;
}

.custom-select::before,
.custom-select::after {
	content: '';
	position: absolute;
	pointer-events: none;
}

.custom-select::before {
	top: 0;
	right: 0;
	bottom: 0;
	width: 1.4rem;
	background-color: hsl(0, 0%, 30%);
	border: .02rem solid aliceblue;
	border-left: none;
}

.custom-select::after {
	--size: .35rem;
	border-top: var(--size) solid #fff;
	border-right: var(--size) solid transparent;
	border-left: var(--size) solid transparent;
	top: 40%;
	right: .4rem;
}

.address-card {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.address-btn {
	display: inline-block;
	padding: .4rem .8rem;
	margin: auto;
	text-decoration: none;
	color: #fff;
	background-color: hsl(0, 0%, 30%);
	transition: all 50ms ease-in;
}

.address-btn:hover {
	background-color: var(--primary-color);
}

.address-divider {
	width: 90%;
	margin: 1.5rem 0 1.5rem 0;
}

.grid-checkout-container {
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	margin: 2rem;
	gap: 1.5rem;
	max-width: 1000px;
}

.total {
	text-align: center;
}

.address-box {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin: 2rem 4rem;
	max-width: 1000px;
}

.purchase-list {
	margin-left: 1rem;
}

h3.title {
	text-align: center;
}

.form-container > .sub-title:first-child {
	margin-top: 0;
}

@media (min-width: 800px) {
	.grid-checkout-container {
		margin: 2rem auto;
	}
	.address-box {
		margin: 2rem auto;
	}
}

h5 {
	margin-left: 3rem;
}

.orders-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 13rem);
	gap: .5rem;
	margin: 2.5rem 3rem 2rem 3rem;
	justify-items: center;
}

.order {
	display: inline-block;
	text-decoration: none;
	padding: 1rem 1.4rem;
	color: hsl(0, 0%, 30%);
	transition: all 50ms ease-in;
}

.order:hover {
	color: var(--secondary-color);
	background-color: hsla(0, 0%, 53%, 0.37);
}

.container-order {
	margin: 1rem 2rem;
	padding: 0 4rem;
	text-align: center;
	box-shadow: .5rem .5rem .4rem #929292, -.3rem -.2rem .1rem var(--primary-light);
}

.container-order > .sub-title {
	padding: 1rem;
}

.container-order > .address-card {
	justify-content: center;
	padding-bottom: 2rem;
}

.container-order + .update-link {
	margin-left: 2rem;
	padding: .6em 1rem;
}
