{% extends 'base.html' %}
{% from 'bookList.html' import booklist %}

{% block content %}
    <h1 class="main-title">My {% block title %}Account{% endblock %}</h1>
    <a class="update-button" href="{{ url_for('account.update') }}">Update Account</a>
    <h3 class="sub-title">My Orders</h3>
    <div>
        Orders go here!
    </div>
    <h3 class="sub-title">View Cart</h3>
    <div>
        Display cart items here!
    </div>
    <h3 class="sub-title">View Wishlists</h3>
    {% for books in lists %}
        {{booklist(books[0], books[1], books[2])}}
    {% endfor %}
{% endblock %}