{% extends 'base.html' %}
{% from 'cartButton.html' import cartbutton %}
{% from 'svgs.html' import checkSvg, xSvg %}

{% block content %}
    <h1 class="list-title">{% block title %}{{list_name}}{% endblock %}</h1>
    {% if g.user.id == list_owner %}
        <a class="update-link" href="{{ url_for('list.update', list_id=list_id) }}">Edit Title</a>
    {% endif %}
    {% for book in books %}
        <div class="list-card">
            <a class="list-link" href="{{ url_for('book.display', id=book.book_id) }}">
                <img src="{{book.image}}" class="list-image">
            </a>
            <div class="list-text-content">
                <a class="list-link" href="{{ url_for('book.display', id=book.book_id) }}">
                    <h3 class="card-title">{{book.title}}</h3>
                </a>
                <h4 class="card-author">{{book.author}}</h4>
                <p class="price">{{book.price}}</p>
                {% if book.stock %}
                    <div class="available">
                        {{checkSvg()}}
                        Available
                    </div>
                    {{ cartbutton(book.book_id, book.stock, book.book_id in g.cart)}}
                {% else %}
                <div class="unavailable">{{xSvg()}} Out of Stock</div>
                {% endif %}
                {% if g.user.id == list_owner %}
                    <hr class="remove-divider">
                    <form method="POST" action="{{ url_for('list.remove', list_id=list_id, book_id=book.book_id) }}">
                        <button type="submit" class="remove">Remove from List</button>
                    </form>
                {% endif %}
            </div>
        </div>  
        {% if not loop.last %}
            <hr class="list-divider">
        {% endif %}
    {% endfor %}
{% endblock %}
