{% extends 'base.html' %}
{% from 'cartButton.html' import cartbutton %}
{% from 'svgs.html' import xSvg, checkSvg %}
{% from 'pagination.html' import pagination %}

{% block content %}
<h1 class="list-title">{% block title %}Search{% endblock %}: <span class="query">{{ query }}</span></h1>
{% if lastpage > 1 and books|length > 6 %}
    {{ pagination(page, lastpage, 'search', query=query) }}
{% endif %}
<div class="category-display">
    {% if books|length == 0 %}
        <div class="empty">No books found! Try another search</div>
    {% else %}
        {% for book in books %}
            <div class="grid-card">
                <a class="image-link" href="{{ url_for('book.display', id=book.id) }}">
                    <img src="{{book.image}}" class="grid-image">
                </a>
                <div class="grid-text-content">
                    <a class="grid-link" href="{{ url_for('book.display', id=book.id) }}">
                        <h3 class="card-title">{{book.title}}</h3>
                    </a>
                    <h4 class="card-author">{{book.author}}</h4>
                    <p class="price">{{book.price}}</p>
                    {% if book.stock %}
                        <div class="available">
                            {{checkSvg()}}
                            Available
                        </div>
                        {{ cartbutton(book.id, book.stock, book.id in g.cart)}}
                    {% else %}
                    <div class="unavailable">{{xSvg()}} Out of Stock</div>
                    {% endif %}
                </div>
            </div>  
        {% endfor %}
    {% endif %}
</div>
{% if lastpage > 1 %}
    {{ pagination(page, lastpage, 'search', query=query) }}
{% endif %}
{% endblock %}