{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='checkout.css') }}">
<h1 class="form-title">{% block title %}Checkout{% endblock %}</h1>
<div class="checkout-container">
    <div class="purchase-list">
        <h2 class="sub-title">Items to Purchase</h2>
        <div class="grid-checkout-container">
            {% for book in cart %}
                <div><span class="title">{{book.title}}</span> by {{book.author}}</div>
                <div>Quantity: {{book.quantity}}</div>
                <div>Cost: <span class="price">{{"%.2f"|format(book.quantity|float * book.price|float)}}</span></div>
            {% endfor %}
        </div>
        <div class="total">Total: <span class="price">{{"%.2f"|format(total/100)}}</span></div>
    </div>
    <h2 class="sub-title">Mailing Address</h2>
    <div class="address-box">
        <div>Name: {{ address.name }}</div>
        <div>Address: {{ address.address }}</div>
        <div>City: {{ address.city }}</div>
        <div>Zip Code: {{ address.zip_code }}</div>
        <div>State: {{ address.state }}</div>
    </div>
    <div id="error-message"></div>
    <form action="#" id="payment-form">
        <div id="payment-element"></div>
        <button id="submit" data-secret="{{ client_secret }}" data-key="{{ stripe_key }}">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Submit Payment</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
</div>
{% endblock %}