{% extends 'base.html' %} 

{% block content %} 
    <h1 class="list-title">{% block title %}Shopping Cart{% endblock %}</h1>
    <div class="cart-container">
        <div class="title">Book</div>
        <div class="title">Info</div>
        <div class="title">Quantity</div>
        <div class="title">Total</div>
        {% for book in cart %}
                <div class="image-grid-item">
                    <a class="grid-link" href="{{ url_for('book.display', id=book.book_id) }}">
                        <img src="{{book.image}}" class="grid-image">
                    </a>
                </div>
                <div class="content-grid-item">
                <a class="list-link" href="{{ url_for('book.display', id=book.book_id) }}">
                    <h3 class="card-title">{{book.title}}</h3>
                </a>
                    <h4 class="card-author">{{book.author}}</h4>
                    {% if book.stock or true %}
                        <div class="available">
                            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path></svg>
                            Available
                        </div>
                    {% else %}
                        <div class="unavailable"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="times-circle" class="svg-inline--fa fa-times-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z"></path></svg> Out of Stock</div>
                    {% endif %}
                    <hr class="cart-remove-divider">
                    <form method="POST" action="{{ url_for('cart.remove', book_id=book.book_id) }}">
                        <button type="submit" class="remove-cart">Remove</button>
                    </form>
                </div>
                <div class="quantity-grid-item">
                    <div class="label">Price</div>
                    <div class="price">$<span class="price-value">{{book.price}}</span></div>
                    <div class="label">Quantity</div>
                    <input type="number" class="number-input" name="{{book.id}}" min="0" max="5" value="{{book.quantity}}">
                </div>
                <div class="total-grid-item">
                    <div class="price">$<span class="price-total">{{ "%.2f"|format(book.quantity|float * book.price|float) }}</span></div>
                </div>
        {% endfor %}
    </div>
    <div class="final-price">Total: $<span id="total">{{ total }}</span></div>
    <form class="cart-buttons" action="#" method="POST">
        {% for book in cart %}
            <input type="hidden" name="{{book.book_id}}" class="book-quantities-input" value="{{book.quantity}}">
        {% endfor %}
        <button type="submit" formaction="{{ url_for('cart.update', checkout='False') }}" class="cart-update-button">UPDATE</button>
        <button type="submit" formaction="{{ url_for('cart.update', checkout='True') }}" class="cart-checkout-button">CHECKOUT</button>
    </form>
{% endblock %}