{% extends 'base.html' %} 
{% from 'svgs.html' import checkSvg, xSvg %}

{% block content %} 
    <h1 class="list-title">{% block title %}Shopping Cart{% endblock %}</h1>
    <div class="cart-container">
        <div class="title">Book</div>
        <div class="title">Info</div>
        <div class="title">Quantity</div>
        <div class="title">Total</div>
        {% for book in cart %}
                <div class="image-grid-item">
                    <a class="image-link" href="{{ url_for('book.display', id=book.book_id) }}">
                        <img src="{{book.image}}" class="grid-image">
                    </a>
                </div>
                <div class="content-grid-item">
                <a class="list-link" href="{{ url_for('book.display', id=book.book_id) }}">
                    <h3 class="card-title">{{book.title}}</h3>
                </a>
                    <h4 class="card-author">{{book.author}}</h4>
                    {% if book.stock %}
                        <div class="available">
                            {{ checkSvg() }}
                            Available
                        </div>
                    {% else %}
                        <div class="unavailable">{{ xSvg() }} Out of Stock</div>
                    {% endif %}
                    <hr class="cart-remove-divider">
                    <form method="POST" action="{{ url_for('cart.remove', book_id=book.book_id) }}">
                        <button type="submit" class="remove-cart">Remove</button>
                    </form>
                </div>
                <div class="quantity-grid-item">
                    <div class="label">Price</div>
                    <div class="cost"><span class="price-value price">{{book.price}}</span></div>
                    <div class="label">Quantity</div>
                    <input type="number" class="number-input" name="{{book.id}}" min="0" max="5" value="{{book.quantity}}">
                </div>
                <div class="total-grid-item">
                    <div class="cost"><span class="price-total price">{{ "%.2f"|format(book.quantity|float * book.price|float) }}</span></div>
                </div>
        {% endfor %}
    </div>
    <div class="final-price">Total: <span id="total" class="price">{{ total }}</span></div>
    <form class="cart-buttons" action="#" method="POST">
        {% for book in cart %}
            <input type="hidden" name="{{book.book_id}}" class="book-quantities-input" value="{{book.quantity}}">
        {% endfor %}
        <button type="submit" formaction="{{ url_for('cart.update', checkout='False') }}" class="cart-update-button">UPDATE</button>
        <button type="submit" formaction="{{ url_for('cart.update', checkout='True') }}" class="cart-checkout-button">CHECKOUT</button>
    </form>
{% endblock %}